::-webkit-scrollbar { 
    display: none; 
}

html, body {
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

canvas.game {
	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
	
	display: block;
}